@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap');

body {
    margin: 0;
    font-size: 16px;
    background-color: #009688;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    outline: none;
}

.simple {
    display: none;
}

.custom-box {
    max-width: 700px;
    background-color: #ffffff;
    margin: 40px auto;
    padding: 30px;
    border-radius: 10px;
    max-block-size: fit-content;
    height: fit-content;
    width: fit-content;
}

.custom-box::before,
.custom-box::after {
    content: '';
    clear: both;
    display: table;
}


.home-box h3 {
    font-size: 18px;
    color: #000000;
    font-weight: 500;
    margin-bottom: 15px;
    line-height: 25px;
}


.home-box .btn {
    margin-top: 20px;
}

.btn {
    padding: 15px 45px;
    background-color: #009688;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    cursor: pointer;
    display: inline-block;
}

.quiz-box .question-number,
.quiz-box .question-text,
.quiz-box .option-container,
.quiz-box .next-question-btn {
    width: 100%;
    float: left;
}

.quiz-box .question-number {
    font-size: 18px;
    color: #009688;
    font-weight: 600;
    border-bottom: 1px solid #cccccc;
    padding-bottom: 10px;
    line-height: 25px;
}

.quiz-box .question-text {
    font-size: 22px;
    color: #000000;
    line-height: 28px;
    font-weight: 400;
    padding: 20px 0;
    margin: 0;
}


.quiz-box .btn {
    margin: 15px 0;

}

.result-box {
    text-align: center;
}


.result-box h1 {
    font-size: 36px;
    line-height: 42px;
    color: #009688;
}

.result-box table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px;
}

.result-box table td {
    border: 1px solid #cccccc;
    padding: 8px 15px;
    font-weight: 500;
    color: #000000;
    width: 50%;
    text-align: left;
    font-size: 18px;
}

.result-box .btn {
    margin-right: 20px;
}